@{
    ViewData["Title"] = "Контакты";
}
@{
    Layout = "~/Views/Shared/_CarPageLayout.cshtml";
}
<style>
    body {
        position: relative;
        background: url(/Content/inside2.jpg) no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }

    .white {
        border-radius: 8px;
        /*position: relative;*/
        background: rgba(255, 255, 255, 0.9) no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 150%; /* Современные браузеры */
    }

    .marginauto {
        display: block;
        margin: 0 auto;
    }
</style>
<body style="opacity:1;transition:.5s;">
    <br /><br />
    <div class="white">
        <br />
        <h2 align="center">Контактная информация</h2>
        <br />
        <table style="width:100%;">
            <tr>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Единый центр Next Generation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Горячая линия&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What's Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сотрудничество&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8(902)345-76-90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8(800)123-09-09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8(902)345-12-34&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8(945)222-11-90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </table>
        <br />
        <h2 align="center">Мы находимся по адресу</h2>
        <br />
        <table style="width:100%;">
            <tr>
                <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;г.Москва ул.Ленина д.6</td>
            </tr>
        </table>
        <br />
    </div>
    @*<div style="text-align: center;"><img src="/Content/inside2.jpg" width="100%"></div>*@
</body>
